{% extends "base.html" %}

{% block the_body %}
<div id="game-area">
    <div class="card-table">
        <h2>The computer asks: Do you have a {{ value }}?</h2>
        <div class="player-options">
            <button hx-get="/respond/yes/{{ value }}"
                    hx-target="#game-area"
                    hx-swap="outerHTML"
                    class="menu-button">
                Yes
            </button>
            <button hx-get="/respond/no/{{ value }}"
                    hx-target="#game-area"
                    hx-swap="outerHTML"
                    class="menu-button">
                No
            </button>
        </div>

        <h2>Your Cards</h2>
        <div class="player-cards">
            {% for card in cards %}
            <img src="/static/cards/{{ card }}" alt="{{ card }}">
            {% endfor %}
        </div>

        <div id="scoreboard" class="scoreboard" hx-get="/update_pairs" hx-trigger="load every 2s" hx-swap="outerHTML">
            <p>Player's Pairs: <span id="player-pairs">{{ player_pairs }}</span></p>
            <p>Computer's Pairs: <span id="computer-pairs">{{ computer_pairs }}</span></p>
        </div>
    </div>
</div>
<footer class="footer">
    <p>Kyle Donovan Go Fish</p>
    <a href="/register" class="restart-button">Restart</a>
</footer>
{% endblock %}
